
body {
	font-family: calibri, sans-serif;
}


#tableOrders {
	width: 100%;
}

#tableOrders th {
	text-align: left;
}


#tableOrders tr:hover {
	background-color: #DEDAFE;
}


dialog {
	position: absolute;
	top: 300px;
}


h3 {
	margin: 0 0 0.3em 0;
}

.buyer, .angel, .reciever, .message, .extra {
	padding: 1em;
	background-color: #f2f2f2;
	border-radius: 1em;
	margin-bottom: 1em;
}

.angel img {
	width: 84px;
	float: right;
	border-radius: 0.5em;
	box-shadow: 0 0px 3px 0 rgba(0,0,0,0.4);
	border: 2px solid white;
}