
body {
	font-family: sans-serif;
}


#tableOrders {
	width: 100%;
}

#tableOrders th {
	text-align: left;
}


#tableOrders tr:hover {
	background-color: #DEDAFE;
}


dialog {
	position: absolute;
	top: 300px;
}